body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-500px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:746px;
}
#u526 {
  position:absolute;
  left:500px;
  top:0px;
  width:420px;
  height:746px;
}
#u527 {
  position:absolute;
  left:2px;
  top:365px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u528 {
  position:absolute;
  left:620px;
  top:525px;
  width:200px;
  height:100px;
}
#u529 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530 {
  position:absolute;
  left:639px;
  top:550px;
  width:140px;
  height:50px;
  overflow:hidden;
}
#u530_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u530_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u531 {
  position:absolute;
  left:17px;
  top:10px;
  width:26px;
  height:26px;
}
#u532 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u533 {
  position:absolute;
  left:58px;
  top:16px;
  width:14px;
  height:14px;
}
#u534 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u535 {
  position:absolute;
  left:86px;
  top:16px;
  width:14px;
  height:14px;
}
#u536 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u537 {
  position:absolute;
  left:114px;
  top:16px;
  width:14px;
  height:14px;
}
#u538 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u530_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u539 {
  position:absolute;
  left:47px;
  top:10px;
  width:26px;
  height:26px;
}
#u540 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u541 {
  position:absolute;
  left:16px;
  top:16px;
  width:14px;
  height:14px;
}
#u542 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u543 {
  position:absolute;
  left:86px;
  top:16px;
  width:14px;
  height:14px;
}
#u544 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u545 {
  position:absolute;
  left:114px;
  top:16px;
  width:14px;
  height:14px;
}
#u546 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u530_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u547 {
  position:absolute;
  left:76px;
  top:10px;
  width:26px;
  height:26px;
}
#u548 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u549 {
  position:absolute;
  left:46px;
  top:16px;
  width:14px;
  height:14px;
}
#u550 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u551 {
  position:absolute;
  left:19px;
  top:16px;
  width:14px;
  height:14px;
}
#u552 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u553 {
  position:absolute;
  left:114px;
  top:16px;
  width:14px;
  height:14px;
}
#u554 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u530_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u555 {
  position:absolute;
  left:104px;
  top:10px;
  width:26px;
  height:26px;
}
#u556 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u557 {
  position:absolute;
  left:48px;
  top:16px;
  width:14px;
  height:14px;
}
#u558 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u559 {
  position:absolute;
  left:76px;
  top:16px;
  width:14px;
  height:14px;
}
#u560 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u561 {
  position:absolute;
  left:19px;
  top:16px;
  width:14px;
  height:14px;
}
#u562 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
