body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-474px;
  width:473px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u258 {
  position:absolute;
  left:474px;
  top:-104px;
  width:473px;
  height:954px;
}
#u259 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u260 {
  position:absolute;
  left:500px;
  top:0px;
  width:420px;
  height:747px;
}
#u261 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u262 {
  position:absolute;
  left:504px;
  top:38px;
  width:76px;
  height:35px;
}
#u263 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
}
#u264 {
  position:absolute;
  left:880px;
  top:38px;
  width:40px;
  height:35px;
}
#u265 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:35px;
}
#u266 {
  position:absolute;
  left:504px;
  top:400px;
  width:416px;
  height:35px;
}
#u267 {
  position:absolute;
  left:2px;
  top:10px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:45px;
}
#u268 {
  position:absolute;
  left:504px;
  top:355px;
  width:416px;
  height:45px;
}
#u269 {
  position:absolute;
  left:2px;
  top:14px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
