body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-500px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u270 {
  position:absolute;
  left:500px;
  top:0px;
  width:420px;
  height:747px;
}
#u271 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u272 {
  position:absolute;
  left:504px;
  top:38px;
  width:76px;
  height:35px;
}
#u273 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u274 {
  position:absolute;
  left:860px;
  top:125px;
  width:48px;
  height:35px;
}
#u275 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:513px;
  top:130px;
  width:346px;
  height:25px;
}
#u276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u276_input {
  font-family:'应用字体';
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u277 {
  position:absolute;
  left:646px;
  top:81px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u277_img.selected {
}
#u277.selected {
}
#u278 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u279 {
  position:absolute;
  left:509px;
  top:81px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u279_img.selected {
}
#u279.selected {
}
#u280 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u281 {
  position:absolute;
  left:783px;
  top:81px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u281_img.selected {
}
#u281.selected {
}
#u282 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
