body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-474px;
  width:473px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u284 {
  position:absolute;
  left:474px;
  top:-104px;
  width:473px;
  height:954px;
}
#u285 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:747px;
}
#u286 {
  position:absolute;
  left:500px;
  top:0px;
  width:420px;
  height:747px;
}
#u287 {
  position:absolute;
  left:2px;
  top:366px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u288 {
  position:absolute;
  left:504px;
  top:38px;
  width:76px;
  height:35px;
}
#u289 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u290 {
  position:absolute;
  left:860px;
  top:125px;
  width:48px;
  height:35px;
}
#u291 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:513px;
  top:130px;
  width:346px;
  height:25px;
}
#u292_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u292_input {
  font-family:'应用字体';
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u293 {
  position:absolute;
  left:646px;
  top:81px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u293_img.selected {
}
#u293.selected {
}
#u294 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u295 {
  position:absolute;
  left:509px;
  top:81px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u295_img.selected {
}
#u295.selected {
}
#u296 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u297 {
  position:absolute;
  left:783px;
  top:81px;
  width:127px;
  height:37px;
  color:#FFFFFF;
}
#u297_img.selected {
}
#u297.selected {
}
#u298 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
