body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-500px;
  width:421px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:34px;
}
#u140 {
  position:absolute;
  left:500px;
  top:0px;
  width:420px;
  height:34px;
}
#u141 {
  position:absolute;
  left:2px;
  top:9px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:716px;
}
#u142 {
  position:absolute;
  left:501px;
  top:32px;
  width:420px;
  height:716px;
}
#u143 {
  position:absolute;
  left:2px;
  top:350px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u144 {
  position:absolute;
  left:504px;
  top:38px;
  width:76px;
  height:35px;
}
#u145 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u146 {
  position:absolute;
  left:878px;
  top:38px;
  width:38px;
  height:35px;
}
#u147 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u148 {
  position:absolute;
  left:860px;
  top:227px;
  width:48px;
  height:35px;
}
#u149 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:514px;
  top:232px;
  width:346px;
  height:25px;
}
#u150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u150_input {
  font-family:'应用字体';
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:423px;
}
#u151 {
  position:absolute;
  left:500px;
  top:267px;
  width:420px;
  height:423px;
}
#u152 {
  position:absolute;
  left:2px;
  top:204px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
}
#u153 {
  position:absolute;
  left:680px;
  top:700px;
  width:60px;
  height:48px;
}
#u154 {
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:592px;
  top:615px;
  visibility:hidden;
}
#u155_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u155_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:123px;
}
#u156 {
  position:absolute;
  left:0px;
  top:10px;
  width:236px;
  height:123px;
  color:#333333;
}
#u157 {
  position:absolute;
  left:2px;
  top:54px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:113px;
}
#u158 {
  position:absolute;
  left:12px;
  top:0px;
  width:206px;
  height:113px;
}
#u159 {
  position:absolute;
  left:2px;
  top:48px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:76px;
}
#u160 {
  position:absolute;
  left:83px;
  top:66px;
  width:70px;
  height:76px;
}
#u161 {
  position:absolute;
  left:2px;
  top:30px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
