body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-500px;
  width:420px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:34px;
}
#u241 {
  position:absolute;
  left:500px;
  top:0px;
  width:420px;
  height:34px;
}
#u242 {
  position:absolute;
  left:2px;
  top:9px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:708px;
}
#u243 {
  position:absolute;
  left:500px;
  top:34px;
  width:420px;
  height:708px;
}
#u244 {
  position:absolute;
  left:2px;
  top:346px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u245 {
  position:absolute;
  left:504px;
  top:38px;
  width:76px;
  height:35px;
}
#u246 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:630px;
  top:319px;
  width:200px;
  height:25px;
}
#u247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u247_input {
  font-family:'应用字体';
}
#u248 {
  position:absolute;
  left:630px;
  top:445px;
  width:200px;
  height:25px;
}
#u248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u248_input {
  font-family:'应用字体';
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u249 {
  position:absolute;
  left:534px;
  top:560px;
  width:160px;
  height:45px;
}
#u250 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
}
#u251 {
  position:absolute;
  left:730px;
  top:560px;
  width:160px;
  height:45px;
}
#u252 {
  position:absolute;
  left:2px;
  top:14px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:751px;
  top:496px;
}
#u253_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u253_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u254 {
  position:absolute;
  left:4px;
  top:0px;
  width:46px;
  height:50px;
}
#u255 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u253_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u257 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
