body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-474px;
  width:473px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u491 {
  position:absolute;
  left:474px;
  top:-104px;
  width:473px;
  height:954px;
}
#u492 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:477px;
}
#u493 {
  position:absolute;
  left:500px;
  top:0px;
  width:420px;
  height:477px;
}
#u494 {
  position:absolute;
  left:2px;
  top:230px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
}
#u495 {
  position:absolute;
  left:504px;
  top:40px;
  width:76px;
  height:35px;
}
#u496 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u497 {
  position:absolute;
  left:860px;
  top:85px;
  width:48px;
  height:35px;
}
#u498 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499 {
  position:absolute;
  left:522px;
  top:91px;
  width:338px;
  height:21px;
}
#u499_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u499_input {
  font-family:'应用字体';
}
#u500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:35px;
}
#u500 {
  position:absolute;
  left:860px;
  top:439px;
  width:48px;
  height:35px;
}
#u501 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502 {
  position:absolute;
  left:522px;
  top:445px;
  width:338px;
  height:21px;
}
#u502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u502_input {
  font-family:'应用字体';
}
#u503 {
  position:absolute;
  left:500px;
  top:477px;
  width:416px;
  height:264px;
}
#u503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:264px;
}
